@media screen and (min-width:360px) and (max-width:640px)
{
    .sec9,.sec10{margin-top:0;padding-top:0;}
  .sec9 span{padding-left:0;}
  .sec9 h1{font-size:30px;}
  .sec10 h1 { font-size: 26px;}
  .sec9 span{font-size:28px;}
  }